<div class="row">
    <div class="col-md-12">
        <h2>Products</h2>
        <hr>
        <div class="row">
            <div class="col-md-3" ng-repeat="product in main.products">
                <div class="product">
                    <a href="#/product/{{product.id}}">
                        <img src="{{product.small_img}}" alt="Product">
                    </a>
                    <h3><a href="#/product/{{product.id}}">{{product.name}}</a></h3>
                    <p>{{product.description | limitTo:100}}...</p>
                    <p>
                        <a href="#" class="cart-btn">
                            <span class="price">Price: $ {{product.price}}</span>
                            <button type="button" ng-hide="main.buttonBuy(product.id)" class="btn btn-default" ng-click="main.cart(product.id)">Add to cart</button>
                            <button type="button" ng-show="main.buttonBuy(product.id)" class="btn btn-default" ui-sref="cart"><span class="glyphicon glyphicon-shopping-cart"></span> In cart</button>
                            <a class="btn btn-default" href="#/product/{{product.id}}" role="button">VIEW DETAILS</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>